@import "tailwindcss";
@import "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: var(--p-surface-50);
}
